/* static/styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
}
#map {
    height: 100vh;
}