<!-- index.html splash page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umpy Safe - NY State Troopers</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <div class="content">

        <img src="templates/nysp_logo.jpg" alt="NY State Police" class="logo">
        <h3>Are You Safe ... When You're Out</h1>
            
        <img src="templates/umpy_logo.jpg" alt="Umpy Safe Logo" class="logo">            
        <script>
            window.onload = function() {
                setTimeout(function() {
                    window.location.href = 'templates/main.html';
                }, 50000); // 50000 milliseconds = 5 seconds
            };
        </script>
    </div>


    
</body>
</html>