<!-- index.html splash page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Umpy Safe - NY State Troopers</title>
    <!-- 
    <link rel="manifest" href="manifest.json">
    -->
</head>
<body>
    <!-- Include the menu.html file -->
    {% include 'menu.html' %}

    <div class="content">
        <img src="static/nysp_logo.jpg" alt="NY State Police" class="logo">
        <h3>Are You Safe ... When You're Out</h3>
        <img src="static/umpy_logo.jpg" alt="Umpy Safe Logo" class="logo">
    </div>            

    <button onclick="redirectToMain()">Go to Main Page</button>

    <script>
        function redirectToMain() {
            window.location.href = "/templates/main.html";
        }
    </script>

</body>
</html>