<!DOCTYPE html>
<nav>
    <ul style="list-style-type: none; text-align: left; padding: 0;">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('ny_agencies_map') }}">NY Agencies Map</a></li>
        <li><a href="{{ url_for('plotzipboundaries') }}">NY ZIP code boundaries</a></li>
        <li><a href="{{ url_for('new_york_crime_map_agencies_all_crimes_corrected') }}">NY All Crimes</a></li>
        <li><a href="{{ url_for('ny_state_troopers_presentation') }}">NY State Troopers Presentation</a></li>
    </ul>
</nav>